@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic); 
*{padding: 0; margin: 0; border: 0; outline: 0; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box;}
input[type="checkbox"], input[type="radio"]{padding: 0 !important; border: none !important;}
body{position: relative; height: 100%; font-size: 16px; color: #000; font-family: 'Roboto', sans-serif;}
header, nav, section, aside, figure, footer, ul, ol{display: block;}
h1, h2, h3, h4, h5, h6, p{padding: 0; margin: 0; line-height: normal; font-weight: normal; width: 100%; float: left;}
.clear{clear: both;}
.float_left{float: left !important;}
.float_right{float: right !important;}
.full_width{width: 100%; float: left; position: relative;}
.mainContainer{max-width: 1024px; margin: 0 auto;}
.mainInner{width: 100%; float: left; padding: 0 1%; position: relative;}
.mainHeader{background: rgba(0,0,0,.85); left: 0; top: 0; z-index: 9999;}
.home_page .mainHeader{background: rgba(0,0,0,.75); position: fixed;}
.mainHeader .mainContainer{max-width: 1366px;}
.mainHeader .main_logo{position: absolute; left: 1%; top: 0;}
.mainNav{float: right; text-align: right; line-height: normal;}
.mainNav ul{float: right;}
.mainNav ul li{list-style: none; display: block; float: left;}
.mainNav ul li a{display: block; float: left; text-decoration: none; color: #fff; font-size: 17px; margin: 40px 0 13px 22px; padding: 6px 0; text-transform: capitalize; position: relative;}
.mainNav ul li a:hover, .mainNav ul li a.active{color: #5cb85c;}
.mainNav ul li a:hover:after, .mainNav ul li a.active:after{background: #5cb85c none repeat scroll 0 0; bottom: -13px; content: " "; display: block; height: 6px; left: -5%; position: absolute; width: 110%;}
.mainNav ul li a.yellowButton, .mainNav ul li a.greenButton{margin-left: 12px;}
.blueButton:after, .yellowButton:after, .greenButton:after{display: none !important;}
.blueButton, .yellowButton, .greenButton{color: #fff !important; padding: 6px 0 !important; font-size: 15px !important; text-align: center !important; border-radius: 2px; min-width: 118px; border: none !important; text-decoration: none !important;}
.blueButton{background: #00b0cf !important;}
.yellowButton{background: #f0ad4e !important;}
.greenButton{background: #5cb85c !important;}
.mainBanner{overflow: hidden; max-height: 600px;}
.mainBanner video{position: relative; height: 100%; width: 100%;}
.mainSearchBox{background: rgba(0,176,207,.21); position: absolute; top: auto; bottom: 0; padding: 17px 0;}
.mainSearchBox .whatUNeed_index{width: 60%; float: left;}
.mainSearchBox .zip_search_index{width: 29.5%; float: left; margin: 0 .25%;}
.mainSearchBox .service_srch_index{float: right; width: 10%; background: #00b0cf; padding: 7px;}
.mainSearchBox .service_srch_index img{float: none;}
.mainSearchBox input{padding: 12px; background: #fff; font-size: 16px;}
.blue_text{color: #00b0cf !important;}
.main_h2{font-size: 25px; text-align: center; margin: 45px 0 35px 0; color: #5cb85c; text-transform: uppercase;}
.aboutSidejobster{background: url(../images/about_usbg.jpg) top center no-repeat fixed; background-size: cover; padding-bottom: 50px;}
.aboutSidejobster .main_h2{font-size: 40px;}
.aboutSidejobster p{font-size: 18px; text-align: center; color: #fff; line-height: 31px; text-transform: uppercase;}
.main_popUp_wrap{position: fixed; width: 100%; height: 100%; float: left; background: rgba(0,0,0,.77); display: none; z-index: 9999; overflow: auto; top: 0; left: 0;}
.main_popUp_container{max-width: 610px; margin: 0 auto;}
.main_popUp_inner{width: 100%; float: left; background: #fff; border-radius: 3px; position: relative; margin-bottom: 20px;}
.loginSingup_header{width: 100%; float: left; padding: 20px 20px 10px 20px; border-bottom: 1px solid #00c1e2; margin-bottom: 25px;}
.loginSingup_header .login_label{float: left; margin-right: 40px; font-size: 17px; color: #4a4646; cursor: pointer;}
.login_dec_p{color: #6c6c6c; font-size: 17px; margin-bottom: 8px;}
.login_tab_content{padding: 0 20px 20px 20px; color: #6c6c6c; font-size: 15px;}
.loginSignup_input_wrap{margin-bottom: 18px; position:relative;}
.loginSignup_input_wrap input[disabled]{background: #f0f0f0 !important; color:#6d6d6d !important;}
.loginSignup_input_wrap:nth-of-type(odd){float: left; width: 48%;}
.loginSignup_input_wrap:nth-of-type(even){float: right; width: 48%;}
.loginSignup_input_wrap input, .text_fild, .loginSignup_input_wrap button{border: 1px solid #6c6c6c; border-radius: 3px; color: #6c6c6c; font-size: 15px; padding: 10px; width: 100%;}
.loginSignup_input_wrap input:focus, .text_fild:focus{border-color: #00c1e2; color: #00c1e2;}
.loginSignup_input_wrap .submit_loginSignup{font-size: 16px !important; padding: 10px !important;}
.loginSignup_input_wrap input[type="checkbox"], .loginSignup_input_wrap input[type="radio"]{width: auto;}
.full_width.rembemberPass_bx{margin-top: -13px;}
.loginSignup_input_wrap a{color: #00B0CF;}
#close_popup_btn{position: absolute; right: -12px; top: -12px; cursor: pointer;}
.loginSingup_header .login_label.activetab{color: #00c1e2;}
.ourValue{background: #f5f5f5; padding-bottom: 50px;}
.availableServices{background: #3d3d3d; padding-bottom: 50px;}
.contact_us_main{background: url(../images/contact_bg.png) no-repeat center #1c1c1c; padding-bottom: 70px;}
.left_contact_index{width: 45%; float: left;}
.left_contact_index > .full_width, .right_contact_index > .full_width{margin-bottom: 15px;}
.left_contact_index input{width: 100%; float: left; font-size: 17px; padding: 7px;}
.left_contact_index input:focus, .right_contact_index textarea:focus{color: #00c1e2;}
.left_contact_index select{width: 100%; float: left; padding: 7px; font-size:16px;  color: #9d9d9d;}
.right_contact_index{width: 52%; float: right;}
.right_contact_index textarea{width: 100%; float: left; resize: none; height: 130px; padding: 7px; font-size:17px;}
.right_contact_index input{background: #5CB85C; border: none; color: #fff; padding: 8px 0; min-width: 135px; font-size: 17px;}
.main_footer{background: #00c1e2; padding: 20px 0; color: #fff;}
.find_our_app{float: left;}
.find_on_socialmedia{float: right;}
.find_on_socialmedia span, .find_our_app span{display: block; float: left; margin-top: 6px;}
.find_on_socialmedia img, .find_our_app img{margin-left: 12px;}
.main_footer .copyright{font-size: 14px; margin-top: 5px;}
.howWorks_containt{width: 30%; float: left; text-align: center; margin-bottom: 60px;}
.howWorks_containt:nth-child(2){margin: 0 5% 60px 5%;}
.howWorks_containt_hd{font-size: 25px; color: #4b4b4b; padding: 18px 0 10px 0;}
.howWorks_containt_cnt{font-size: 16px; color: #636363;}
.animate_wrap_howWork{max-width: 245px; margin: 0 auto;}
.animate_wrap_howWork .full_width.imgAni_w{width: 100%; overflow: hidden; position: relative; cursor: pointer; border: 2px solid #b2b2b2;}
.animate_wrap_howWork .full_width.imgAni_w, .animate_wrap_howWork .full_width.imgAni_w > img, .animate_wrap_howWork .full_width.imgAni_w .anim_work{border-radius: 60%;}
.animate_wrap_howWork .full_width.imgAni_w > img{width: 100%; float: left;}
.anim_work{position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,.6); display: none;}
.anim_work > span{color: #fff; display: inline-block; font-size: 70px; margin-top: 32%;}
.imgAni_w:hover .anim_work{background: none;}
.ourService_nav{border-bottom: 1px solid #5cb85c; padding-bottom: 8px;}
.ourService_nav li{display: inline-block;}
.ourService_nav li a{color: #fff; text-decoration: none; font-size: 20px; min-width: 135px; display: block; text-align: center;}
.ourService_nav li a.active, .ourService_nav li a:hover{color: #fff; font-size: 22px; position: relative;}
.ourService_nav li a.active:after, .ourService_nav li a:hover:after{background: #5cb85c; bottom: -10px; content: ""; height: 3px; left: -0%; position: absolute; top: auto; width: 100%; z-index: 99;}
.ourValue_detail_l, .ourValue_detail_r{width: 50%; float: left;}
.ourValue_detail_l img, .ourValue_detail_r img{width: 100%; float: left;}
.ourValue_detail_l{padding-right: 6%;}
.ourValue_detail_r{padding-left: 6%; border-left: 2px solid #9dc7cc;}
.ourValue_detail_r .ourValue_detail_hd{text-align: right;}
.ourValue_detail_hd{font-size: 21px; color: #3b3b3b;}
.valueImgTxt_w{margin-top: 15px; position: relative; overflow: hidden; cursor: pointer;}
.go_tO_top{position: fixed; bottom: 10px; right: 10px; display: none; z-index: 999;}
.valueTxt_w{background: rgba(0,0,0,.75); position: absolute; bottom: 0; left: 0; color: #fff; padding: 8px; height: 100%; transition: all ease .3s; -moz-transition: all ease .3s; -ms-transition: all ease .3s; -o-transition: all ease .3s; -webkit-transition: all ease .3s;}
.valueImgTxt_w:hover .valueTxt_w{bottom: 100%;}
.valueTxt_w h3{text-align: center; margin-top: 22%; font-size: 20px;}
.valueTxt_w .greenPlus{background: #5cb85c; border-radius: 60%; bottom: 10%; font-size: 23px; left: 50%; padding: 2px 10px; position: absolute;}
/* advance search */
.sugession_list_pp{margin-bottom: 10px;}
.sugession_list_pp.full_width li{font-size: 16px; list-style: none; padding: 5px 0; border-bottom: 1px dashed;}
.sugession_list_pp.full_width label{color: #00b0cf; font-weight: bold; margin-right: 20px;}
.selected_service_pp{color: #a2a2a2; font-size: 15px; padding: 5px 0;}
.selected_service_pp_w{border: 1px solid #6c6c6c; border-radius: 3px; margin: 10px 0 18px 0;}
.selected_service_part{margin-bottom: 1px;}
.selected_service_hd{font-size: 15px; color: #fff; padding: 5px 12px; background: #a2a2a2; cursor: pointer; position: relative;}
.selected_service_hd::after{content: "+"; font-weight: bold; position: absolute; right: 5px;}
.selected_service_hd.full_width.active, .selected_service_hd.full_width:hover{background: #00c1e2;}
.selected_service_hd.full_width.active:after{content: "-"}
.selected_service_txt{padding: 5px 12px; font-size: 15px; color: #6c6c6c; display: none; max-height: 100px; overflow: auto; height: 100px;}
.skill_chk_pp{width: 4%; float: left; margin-top: 5px;}
.skill_name_pp{width: 30%; float: left; margin-top: 5px;}
.full_width.skill_pp{margin-bottom: 5px;}
.skill_license_pp{float: left; width: 20%; margin-left: 2%;}
.skill_state_pp{float: left; width: 20%; margin-left: 2%;}
.skill_license_pp input, .skill_state_pp input{border: 1px solid #6c6c6c; border-radius: 3px; color: #6c6c6c; display: block; padding: 5px; width: 100%;}
.skill_license_pp input:focus, .skill_state_pp input:focus{border-color: #00c1e2; color: #00c1e2;}
.skill_chkRdio_bx{margin-bottom: 5px;}
.bigblueButton{background: #00B0CF; text-decoration: none; display: inline-block; padding: 12px 30px; color: #fff; font-size: 19px; border-radius: 3px;}
.text_center{text-align: center;}
.text_fild:focus, .small_textfild{border-color: #00c1e2; color: #00c1e2;}
.small_textfild{border: 1px solid #6c6c6c; border-radius: 3px; color: #6c6c6c; display: block; padding: 5px; width: 100%;}
/** advance search end **/
.disclaimer_pp{font-size: 13px; margin-bottom: 18px;}
#sellerReg_2, #sellerReg_3{display: none;}
#sellerRegBack_1{display: inline-block; margin-top: 7px;}
#sellerRegBack_2{color: #00b0cf;}
.howItWork_demo_img{position: relative; margin-bottom: 50px; display: none;}
.ourService_thumb_w_PP{display: none;}
.resetPass_body{min-height: 450px;}
.resetPass_body .mainContainer{max-width: 420px;}
.resetPass_body .mainContainer .loginSignup_input_wrap{width: 100%;}
.resetPass_body .mainContainer .mainInner{margin-top: 60px;}
.resetPass_body .mainContainer .mainInner{background: #fbfbfb; border-radius: 3px; box-shadow: 0 0 2px #ddd; margin-top: 50px; padding: 20px;}
.changed_password, .expired_token, .resetPass_body, .resetPass_body{text-align: center;  padding: 20px 0; color:#f00;}
.error{color: #f00 !important; font-size: 14px !important;}
#close_work{position: absolute; left: auto; right: 0; top: 0; cursor: pointer;}
.service_list{text-align: center;}
.service_list li{list-style: none; display: inline-block; text-align: center; color: #fff; width: 30%; margin-top: 50px;}
.service_list li:nth-of-type(3n+2){margin-left: 4.5%; margin-right: 4.5%;}
.service_list li figure{margin: 0; padding: 0;}
.service_list li figure img{max-width: 125px; width: 100%;}
.service_list li h3{color: #5cb85c; font-size: 25px; width: 100%; float: left; margin: 20px 0 12px 0;}
.service_list li p{font-size: 16px; width: 100%; float: left;}
.signup_get_start{margin: 70px 0 50px 0; text-align: center;}
.signup_get_start a{display: inline-block; color: #fff; text-decoration: none; background: #5cb85c; font-size: 18px; padding: 12px 30px;}
@media screen and (-webkit-min-device-pixel-ratio:0){select{line-height: 30px;}
select.small_textfild{line-height: 22px;}
.mainSearchBox .service_srch_index{padding: 8px;}}
.mainHeader.scrolled{background: #000; overflow: hidden;}
.after_scroll_logo{display: none;}
.mainHeader.scrolled .before_scroll_logo{display: none;}
.mainHeader.scrolled .after_scroll_logo{background: #000; display: block; padding: 14px 0;}
.mainHeader.scrolled .mainNav ul li a{font-size: 16px; margin: 8px;}
.mainHeader.scrolled .mainNav ul li a:hover::after, .mainHeader.scrolled .mainNav ul li a.active::after{bottom: -8px; height: 3px;}
.loader_w{width:100%; float:left; position:relative;}
.loader{position:absolute; top:8px; left:8px; height:22px; width:22px;}
.bootstrap-datetimepicker-widget.dropdown-menu{ background:#f9f9f9;}
.add-on i.icon-calendar {
    background: url("/images/date_picker.png") no-repeat center;
    display: block;
    height: 20px !important;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px !important;
    z-index: 99;
}






